.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 60px;
}

.invoicesProcess {
  display: flex;
  align-items: baseline;
  gap: 40px;
}

.invoicesFilter {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.invoicesAddBtn {
  background-color: #7C5DFA;
  padding: 18px 17px 18px 46px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
  border: transparent;
  border-radius: 100px;
  font-weight: bold;
}

.artisvgContainer {
  position: relative;
  bottom: 36px;
  left: 17px;
  background: white;
  width: 19px;
  padding: 4px;
  border-radius: 100px;
}
