.invoicesListLayout {
  background-color: #F8F8FB;
  display: flex;
  gap: 200px;
}

.content {
  width: 1000px;
  margin-right: 100px;
}

.invoices-list-container {
  margin-bottom: 77px;
}

.invoices-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 32px 32px 32px;
  box-shadow: 0px 10px 10px -10px #48549F1A;
  border-radius: 8px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
}

.invoices-id {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  span {
    color: #7e88c3;
  }
}

.invoices-date {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #888eb0;
}

.invoices-customname {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #858bb2;
}

.invoices-price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
  text-align: right;
  color: #0c0e16;
}

.invoices-status {
  border-radius: 6px;
  opacity: 0.06px;
  padding: 14px 30px;
  background-color: #F3FDFA;
  color: #33D69F;

  .doc {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #33D69F;
  }

  h3 {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.25px;
    text-align: left;
    margin: 0;
  }
}

/* tablet responsive */
@media (width <= 800px) {
  .invoicesListLayout {
    flex-direction: column;
    gap: inherit;
  }

  .sidenav {
    flex-direction: row;
    height: 103px;
  }

  .sidenavItem {
    margin-bottom: 0;
    flex-direction: row;
    gap: 30px;
    margin-inline: 40px;
  }

  .sidenavItem hr {
    width: inherit;
    margin-block: 0;
    height: 103px;
  }

  .content {
    width: inherit;
    padding: 24px;
    margin-right: inherit;
  }

}

@media (width <= 430px) {
  .invoices-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .invoices-id { 
    grid-area: 1 / 1 / 2 / 4; 
  }

  .invoices-date { 
    grid-area: 2 / 1 / 3 / 4; 
  }

  .invoices-customname {
    grid-area: 1 / 4 / 2 / 6; 
    text-align: center;
  }

  .invoices-price { 
    grid-area: 3 / 1 / 4 / 4; 
    text-align: left;
  }

  .invoices-status { 
    grid-area: 2 / 4 / 4 / 6; 
  } 

  .invoices-detail {
    display: none;
  }

}

/* mobil respnsive */ 

@media (max-width: 375px) {
  .invoices-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .invoices-id { 
    grid-area: 1 / 1 / 2 / 4; 
  }

  .invoices-date { 
    grid-area: 2 / 1 / 3 / 4; 
  }

  .invoices-customname {
    grid-area: 1 / 4 / 2 / 6; 
    text-align: center;
  }

  .invoices-price { 
    grid-area: 3 / 1 / 4 / 4; 
  }
  .invoices-status { 
    grid-area: 2 / 4 / 4 / 6; 
  } 

  .invoices-detail {
    display: none;
  }

  .invoices-price {
    text-align: justify;
  }
}