.block{
  display: block;
}

.none{
  display: none;
}

.billFormAddressDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.date {
  display: flex;
  align-items: center;
  gap: 24px;
}